engine-strict=true
registry=https://npm.pkg.github.com/DotMatter
//npm.pkg.github.com/:_authToken=05b86e07a728dbddcf3d1ab07326d14e610912ed
//npm.pkg.github.com/:_authToken=071390fb1b2f2c9241ba0871c87e132a956b77c4